body {
    font-family: 'Segoe UI', Tahoma, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #cfc4d2;
    color: #043552;
}

nav {
    background: linear-gradient(90deg, #043552, #043552);
    padding: 1rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #0b93b9;
}

/* Sections */
section {
    padding: 4rem 2rem;
    text-align: center;
}

section:nth-child(even) {
    background-color: #e8f5e9;
}

/* Profile Image */
.profile-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 1rem;
}

/* Skills */
.skills-list {
    list-style: none;
    padding: 0;
}

.skills-list li {
    display: inline-block;
    background-color: #043552;
    color: white;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    border-radius: 20px;
    transition: transform 0.3s;
}

.skills-list li:hover {
    transform: scale(1.1);
}

/* Projects */
.project {
    background-color: white;
    margin: 2rem auto;
    padding: 1rem;
    border-radius: 10px;
    max-width: 500px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}
#projects
{
    background-color: #cfc4d2;
}
#about
{
    background-color:#cfc4d2;
}

.project img {
    width: 100%;
    border-radius: 10px;
}

.project:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(54, 176, 210, 0.2);
}

.project .btn {
    display: inline-block;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color:  #043552;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s;
}

.project .btn:hover {
    background-color: #043552;
}
.project a:hover {
    color: #5fb4e6;
}

/* Contact Links */
/* #contact a {
    color:  #1572d0;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    color: #044d92;
} */


#contact i {
    margin-right: 8px;
    color: #043552;
    transition: color 0.3s;
}

#contact i:hover {
    color: #044d92;
}

#contact a {
    color: #538dac;
    text-decoration: none;
    font-weight: bold;
}

#contact a:hover {
    color:#044d92;
}
